/* ============================================================================
   APP -> TASK FORM
   ========================================================================= */

/**
 * Style the task input form per the provided comp [/ref/design.psd].
 *
 * @author
 * Wayne Parker
 *
 * @created
 * 2016-06-10
 *
 *
 */

.task-tracker__create {
	// Align top with task list, per [/ref/design.psd]
	padding: $form__top-spacing 35px 50px 30px;
	@media (min-width: $screen_mobile-max) {
		// Gutter between elements when side-by-side
		border-right: $flex-gutter solid $color_main-bg;
	}

	label {
		display: block;
		margin: $form__top-spacing 0 5px;
	}

	input {
		width: 100%;
		border-radius: $form__element-radius;
		border: 1px solid $form__frame-color;
		background-color: $form__elem-bg;
		// Override pesky UA styles
		font-size: 1.0em;
		height: 40px;
		padding: 0 1em;
		&:focus {
			// Override UA style
			outline: none;
			// Highlight active field
			box-shadow: 0 0 6px #0066DD;
		}
	}

	button {
		background-color: #434343;
		border: none;
		border-radius: $form__element-radius;
		color: white;
		cursor: pointer;
		font: 18px $font_serif;
		margin-top: $form__top-spacing + 4px;
		padding: 0.75em 1.0em;
	}

}
