/* ============================================================================
   APP -> TASK TRACKER
   ========================================================================= */

/**
 * Task Tracker variables and styles
 *
 * @author
 * Wayne Parker
 *
 * @created
 * 2016-06-10
 *
 *
 */

/**
 * Variables
 *
 * Per comp [/ref/design.psd] unless otherwise specified
 */


$form__element-radius: 4px;
$form__top-spacing: 28px;
$form__list-frame: 4px;
$form__frame-color: #dedede;
$form__elem-bg: #ececec;
$form__highlight: #0066dd;
$form__button-color: #434343;

@import 'task-form';
@import 'task-list';
