/* ============================================================================
   APP -> TASK LIST
   ========================================================================= */

/**
 * Style the task list per the provided comp [/ref/design.psd].
 *
 * @author
 * Wayne Parker
 *
 * @created
 * 2016-06-10
 *
 *
 */

.task-tracker__list {
	// Top border when stacked
	border-top: $frame-width solid $color_main-bg;
	@media (min-width: $screen_mobile-max) {
		// Remove toip border when side-by-side
		border-top: none;
	}
	// Align top with task form, per [/ref/design.psd]
	padding: $form__top-spacing 20px 20px 15px;

	h2 {
		// Offset to line up with list content, not frame, per [/ref/design.psd]
		margin-left: $form__list-frame;
	}

	ul {
		border: $form__list-frame solid $form__frame-color;
		border-radius: $form__list-frame; // thought I'd miss this one, din't ya?
		list-style: none;
		// Align with top of form content, per comp [/ref/design.psd]
		margin-top: 38px;
		// Inset between border and list elements
		padding: 2px;

		li {
			display: block;
			height: 39px;
			padding: 13px 16px 0;
			vertical-align: middle;

			// Alternating color bars
			&:nth-child(even) {
				background-color: $form__elem-bg;
			}

			&:not(:last-child) {
				border-bottom: 1px solid white; // Thought I'd miss this one, din't ya?
			}

			.task-name {
				font: 1.0em $font_serif;
			}

			.task-date {
				font: 0.857em $font_sans;
				// Add space between name and date
				margin-left: 0.5em;
			}

			.task-assigned {
				display: inline-block;
				float: right;
				font: 0.857em $font_sans;
				font-weight: bold;
			}
		}
	}
}
