/* ============================================================================
   APP > VARIABLES
   ========================================================================= */

/**
 * Global Variables
 *
 * @author
 * Wayne Parker <wayne@wparker.io>
 *
 * @created
 * 2016-06-10
 *
 *
 */

/**
 * Font Stacks
 */

$font_sans: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$font_serif: 'Georgia', 'Constantia', 'Times', 'Times New Roman', serif;


/**
 * Color Palette
 */

$color_body: #f0f0f0;

$color_header-bg: #e2e2e2;
$color_header: #f0f0f0;
$color_text-primary: black;
$color_text-secondary: #676767;

$color_main-bg: $color_body;
$color_main: white;


/**
 * Responsive Breakpoints
 */

$screen_mobile-max: 720px;   // input form and list stack vertically on smaller screens
$screen_desktop-max: 1024px; // above 1024, page is fixed width and centered
