/* ============================================================================
   APP > MAIN
   ========================================================================= */

/**
 * Page Layout
 *
 * @author
 * Wayne Parker <wayne@wparker.io>
 *
 * @created
 * 2016-06-10
 *
 *
 */

html {
	background-color: $color_body;
	// Base Font Size
	font: 14px $font_sans;
	// Good default value; NOT specified in the comp, but should be
	line-height: 1.2;

	& * {
		// Additional global element resets - normalize.css isn't enough
		box-sizing: border-box; // Screw you, W3C, this is how it always SHOULD have been
		font-size: inherit;
		font-weight: normal;
		margin: 0;
	}
}


/**
 * Page Styles
 */

// Common layout for header / body / footer (if we had one)
%body__layout {
	// Center horizontally; only applies to larger screens
	margin: 0 auto;
	// Fixed width on larger screens
	max-width: $screen_desktop-max;
	// Full width on smaller screens
	width: 100%;
}

// Borders used to create box-in-box effect, per [/ref/design.psd], without additional wrapper elements
$frame-width: 9px;
$flex-gutter: 6px;

header {
	background-color: $color_header-bg;

	section {
		@extend %body__layout;
		background-color: $color_header;
		border: $frame-width solid $color_header-bg;
		border-bottom: none;
		height: 148px;
		padding: 40px 30px 0;

		h1 {
			font: 34px $font_sans;
			font-weight: bold;
			// Keep it tight per comp [/ref/design.psd]
			margin-bottom: -3px;
		}

		p {
			color: $color_text-secondary;
			font: 18px $font_sans;
		}
	}
}

main {
	background-color: $color_main-bg;
	padding-top: 0;

	h2 {
		font: 1.286em $font_serif;
	}


/**
 * Page Content - Responsive layout
 *
 * Task Input Form and Task List are stacked vertically on smaller screens, side-by-side on mid-sized screens,
 * and limited to 1024px and centered on large screens.
 */

	section {
		@extend %body__layout;
		background-color: $color_main;
		border: $frame-width solid $color_main-bg;
		border-top: none;
		font-size: 1rem;

		// On larger screens, use flex-box to position form and list side-by-side
		@media (min-width: $screen_mobile-max) {
			display: flex;
			.task-tracker__create {
				flex-basis: 50%;
			}
			.task-tracker__list {
				flex-basis: 50%;
			}
		}

	}

}

footer {
	@extend %body__layout;
	border: $frame-width solid $color_main-bg;
	color: rgba($color_text-secondary, 0.3);
	font-size: 0.67rem;
	text-align: right;
}
